<header *ngIf="item$ |async as item" class="my4 column--centred">

  <div class="full-width   item-action-bar">
    <button 
    queryParamsHandling="merge"
    [routerLink]="['/item-store/items-viewer', { outlets: { itemContentOutlet: null } }]"
    mat-icon-button>
      <mat-icon>arrow_back</mat-icon>
    </button>
      <h2 class="mat-h2">ITEM DETAILS</h2>

    <button
    [matMenuTriggerData]="{item: item}"
    [matMenuTriggerFor]="itemActionMenu" mat-icon-button>
      <mat-icon >more_vert</mat-icon>
    </button>

  </div>

</header>
<main *ngIf="item$ |async as item">
<ul class="list-container">
  <li  class="list-el"> 
    <header class="inline">

      <mat-icon class="mr4">qr_code</mat-icon>
      <h3 class="mat-h3">IDENTIFICATION</h3>
    </header>
    <section class="el__content">
      <div>
        <label class="mat-body">Reference</label>
        <p class="mat-body font--dark-grey">{{item.reference}}</p>
      </div>
      <div>
        <label class="mat-body">Label</label>
        <p class="mat-body font--dark-grey">{{item.label}}</p>
      </div>
      <div>
        <label class="mat-body">Status</label>
        <p class="mat-body font--dark-grey">{{item.state}}</p>
      </div>
      <div>
        <label class="mat-body">Desposition date</label>
        <p class="mat-body font--dark-grey">{{item.deposition_date | date}}</p>
      </div>
      <div>
        <label class="mat-body">Predifined sale price</label>
        <p class="mat-body font--dark-grey">{{item.initial_sale_price | currency :'TND'}}</p>
      </div>
      <div>
        <label class="mat-body">Gain ratio</label>
        <p class="mat-body font--dark-grey">{{item.intial_gain_ratio | percent}}</p>
      </div>
    </section>
     </li>
     <li  class="list-el"> 
      <header class="inline">
  
        <mat-icon class="mr4">qr_code</mat-icon>
        <h3 class="mat-h3">DEPOSER</h3>
      </header>
      <section class="el__content">
        <div>
          <label class="mat-body">First name</label>
          <p class="mat-body font--dark-grey">{{item.deposer.first_name}}</p>
        </div>
        <div>
          <label class="mat-body">Last name</label>
          <p class="mat-body font--dark-grey">{{item.deposer.last_name}}</p>
        </div>
        <div>
          <label class="mat-body">Email</label>
          <p class="mat-body font--dark-grey">{{item.deposer.email}}</p>
        </div>
        <div>
          <label class="mat-body">Phone number</label>
          <p class="mat-body font--dark-grey">0021650749854</p>
        </div>
        <div class="property__stretch">
          <label class="mat-body">Adress</label>
          <p class="mat-body font--dark-grey">1 Impasse moussa ibn noussair menzah 5</p>
        </div>
      </section>
       </li>
       <li *ngIf="item.buyer" class="list-el"> 
        <header class="inline">
    
          <mat-icon class="mr4">money</mat-icon>
          <h3 class="mat-h3">SELL</h3>
        </header>
        <section class="el__content">
          <div>
            <label class="mat-body">Buyer</label>
            <p class="mat-body font--dark-grey">{{item.buyer.first_name}} {{item.buyer.last_name}}</p>
          </div>
          <div>
            <label class="mat-body">Sale date</label>
            <p class="mat-body font--dark-grey">{{item.sale_date |date}}</p>
          </div>
          <div>
            <label class="mat-body">Real sale price</label>
            <p class="mat-body font--dark-grey">{{item.actual_sale_price |currency:'TND'}}</p>
          </div>
        </section>
         </li>     
</ul>
</main>
<mat-menu #itemActionMenu="matMenu">
  <ng-template matMenuContent let-item="item">
    <button (click)="openSellDialog(item)" mat-menu-item>
      <mat-icon>point_of_sale</mat-icon>
      <span>Sell</span>
    </button>
    <button mat-menu-item>
      <mat-icon>delete</mat-icon>
      <span>Remove</span>
    </button>
  </ng-template>

</mat-menu>