<header *ngIf="item$ |async as item" class="my4 column--centred">

  <div class="full-width   item-action-bar">
    <button
    queryParamsHandling="merge"
    [routerLink]="['/item-store/items-viewer', { outlets: { itemContentOutlet: null } }]"
    mat-icon-button>
      <mat-icon>arrow_back</mat-icon>
    </button>
      <h2 class="mat-h2">ITEM DETAILS</h2>

    <button
    [matMenuTriggerData]="{item: item}"
    [matMenuTriggerFor]="itemActionMenu" mat-icon-button>
      <mat-icon >more_vert</mat-icon>
    </button>

  </div>

</header>
<main *ngIf="item$ |async as item">
<ul class="list-container">
  <li  class="list-el">
    <header class="inline--centred mb4">

      <mat-icon class="mr4">qr_code</mat-icon>
      <h3 class="mat-h3">IDENTIFICATION</h3>
    </header>
    <section class="el__content">
      <div>
        <label class="mat-body-2">Reference</label>
        <p class="mat-body font--dark-grey">{{item.reference}}</p>
      </div>

      <div>
        <label class="mat-body-2">Category</label>
        <p class="mat-body font--dark-grey">{{item.category}}</p>
      </div>

      <div>
        <label class="mat-body-2">Status</label>
        <p class="mat-body font--dark-grey">{{item.state}}</p>
      </div>
      <div>
        <label class="mat-body-2">Gender</label>
        <p class="mat-body font--dark-grey">{{item.gender}}</p>
      </div>
      <div>
        <label class="mat-body-2">Brand</label>
        <p class="mat-body font--dark-grey">{{item.brand}}</p>
      </div>  
      <div>
        <label class="mat-body-2">Size</label>
        <p class="mat-body font--dark-grey">{{item.size}}</p>
      </div> 
      <div class="property__stretch" *ngIf="item.colors">
        <label class="mat-body-2">colors</label>
        <p class="mat-body  font--dark-grey">
          <span *ngFor="let color of item.colors">{{color.label}} </span></p>
      </div>   
      <div class="property__full-stretch"  *ngIf="item.description">
        <label class="mat-body-2">Description</label>
        <p class="mat-body font--dark-grey">{{item.description}}</p>
      </div>
    </section>
     </li>
     <li  class="list-el">
      <header class="inline--centred mb4">

        <mat-icon class="mr4">input</mat-icon>
        <h3 class="mat-h3">DEPOSITION</h3>
      </header>
      <section class="el__content">
        <div class="property__full-stretch">
          <label class="mat-body-2">Name</label>
          <p class="mat-body font--dark-grey"> {{item.deposer.civility   |titlecase}} {{item.deposer.first_name|titlecase}} {{item.deposer.last_name|titlecase}}</p>
        </div>
        <div class="property__full-stretch">
          <label class="mat-body-2">Desposition date</label>
          <p class="mat-body font--dark-grey">{{item.deposition_date | date:'medium'}}</p>
        </div>
        <div>
          <label class="mat-body-2">Predifined sale price</label>
          <p class="mat-body font--dark-grey">{{item.initial_sale_price | currency :'TND':'symbol':'1.0-2'}}</p>
        </div>
        <div>
          <label class="mat-body-2">Gain ratio</label>
          <p class="mat-body font--dark-grey">{{item.intial_gain_ratio | percent}}</p>
        </div>
        <div>
          <label class="mat-body-2">Shop Gain</label>
          <p class="mat-body font--dark-grey">{{item.initial_sale_price - item.deposer_gain  |currency :'TND':'symbol':'1.0-2' }}</p>
        </div>
      </section>
       </li>
       <li *ngIf="item.buyer" class="list-el">
        <header class="inline--centred mb4">

          <mat-icon class="mr4">money</mat-icon>
          <h3 class="mat-h3">SELL</h3>
        </header>
        <section class="el__content">
          <div class="property__stretch">
            <label class="mat-body-2">Buyer</label>
            <p class="mat-body font--dark-grey">{{item.buyer.first_name}} {{item.buyer.last_name}}</p>
          </div>
          <div class="property__stretch">
            <label class="mat-body-2">Sale date</label>
            <p class="mat-body font--dark-grey">{{item.sale_date |date:'medium'}}</p>
          </div>
          <div>
            <label class="mat-body-2">Real sale price</label>
            <p class="mat-body font--dark-grey">{{item.actual_sale_price |currency:'TND'}}</p>
          </div>
        </section>
         </li>
</ul>
</main>
<mat-menu #itemActionMenu="matMenu">
  <ng-template matMenuContent let-item="item">
    <button [disabled]="item.buyer" (click)="openSellDialog(item)" mat-menu-item>
      <mat-icon>point_of_sale</mat-icon>
      <span>Sell</span>
    </button>
    <button (click)="openItemReturnDialog(item)" [disabled]="item.buyer"  mat-menu-item>
      <mat-icon>keyboard_return</mat-icon>
      <span>Return</span>
    </button>
    <button (click)="openDeposerSettleDialog(item)" [disabled]="!item.buyer"  mat-menu-item>
      <mat-icon>payments</mat-icon>
      <span>Settle</span>
    </button>
    <button queryParamsHandling="merge" [routerLink]="['/item-store/items-viewer', { outlets: { itemContentOutlet: ['item-edit',item.id] } }]" mat-menu-item>
      <mat-icon>edit</mat-icon>
      <span>Edit</span>
    </button>
    <button (click)="openItemDeleteDialog(item)" mat-menu-item>
      <mat-icon>delete</mat-icon>
      <span>delete</span>
    </button>
  </ng-template>

</mat-menu>
