<h3 class="mat-h3">ITEM FILTERS</h3>
<mat-divider></mat-divider>
<ng-container appFormGroupValidatorMessage>
  <mat-error class="my4"></mat-error>
  <form   (ngSubmit)="onSubmit()" class="column" [formGroup]="filterForm">
    <span class="my4 mat-body-2">Filter by deposition date</span>
    <mat-form-field  appearance="outline">
      <mat-label>After date</mat-label>
        <input type="date" matInput formControlName="deposed_after" placeholder="Start date">
    </mat-form-field>
    <mat-form-field  appearance="outline">
      <mat-label>Before date</mat-label>
        <input type="date" matInput formControlName="deposed_before" placeholder="end date">
    </mat-form-field>
    <!-- <span class="my4 mat-body-2">Filter by meta's</span> -->
    <mat-form-field appearance="outline">
      <mat-label>Filter by category</mat-label>

   <mat-select multiple formControlName="category__in">
     <mat-option [value]="option.id" *ngFor="let option of categories$ | async">
            {{option.label}}
     </mat-option>
   </mat-select>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Filter by size</mat-label>

 <mat-select multiple formControlName="size__in">
   <mat-option [value]="option.id" *ngFor="let option of sizes$ | async">
          {{option.label}}
   </mat-option>
 </mat-select>
</mat-form-field>
<mat-form-field appearance="outline">
  <mat-label>Filter by brand</mat-label>

<mat-select multiple formControlName="brand__in">
 <mat-option [value]="option.id" *ngFor="let option of brands$ | async">
        {{option.label}}
 </mat-option>
</mat-select>
</mat-form-field>
  <button color="accent" type="submit" mat-flat-button>SUBMIT</button>
  <button color="warn"type="reset" mat-flat-button>RESET</button>

  </form>
</ng-container>
