.edit-form {
    display: grid;
    grid-template-columns: repeat(4,minmax(0, 1fr));
    grid-template-rows: auto;
    column-gap: 1rem;
    row-gap: 2rem;
    grid-template-areas: 
    "deposition-group deposition-group deposition-group deposition-group"
    "deposer label gender size"
    "brand brand category category"
    "price  gain . ."
    "sale-group sale-group sale-group sale-group"
    "buyer   sale-price  sale-date sale-date "
    ". button button .";
    @media only screen and (max-width: 720px) {
        grid-template-columns: repeat(2,minmax(0, 1fr));
        grid-template-areas: 
        "deposition-group deposition-group"
        "deposer deposer"
        "label label"
        "category category"
        "brand brand"
        "size gender"
        "price gain"
        "sale-group sale-group"
        "buyer buyer"
        "sale-price sale-date"
        "button button";
      }  
      @media only screen and (max-width: 500px) {
        grid-template-columns: repeat(1,minmax(0, 1fr));
        grid-template-areas: 
        "deposition-group"
        "deposer"
        "label"
        "category"
        "size"
        "brand"
        "gender"
        "price"
        "gain"
        "sale-group"
        "buyer"
        "sale-price"
        "sale-date"
        "button";   
      }
}
.field-label {
  grid-area:label ;
}
.field-price {
    grid-area:price ;
}
.field-gain {
    grid-area:gain ;

}
.size-field {
    grid-area:size;
}
.brand-field {
    grid-area:brand;

}
.deposer-field {
    grid-area: deposer;
}
.buyer-field {
    grid-area: buyer;

}
.category-field {
    grid-area: category;

}
.sale-price-field {
    grid-area: sale-price;

}
.sale-date-field {
    grid-area : sale-date;
}
.gender-field {
    grid-area: gender;
}
.sale-sub-group {
    grid-area: sale-group;
    mat-error {
        min-height: 1.5rem;
    }
}
.deposition-sub-group {
    grid-area: deposition-group;
    mat-error {
        min-height: 1.5rem;
    }
}
.field-button {
    grid-area: button;
}
