.edit-form {
    display: grid;
    grid-template-columns: repeat(4,minmax(0, 1fr));
    grid-template-rows: auto;
    column-gap: 1rem;
    row-gap: 2rem;
    grid-template-areas: 
    "deposition-group deposition-group deposition-group deposition-group"
    "deposer category brand size"
    "color gender price gain"
    "description  description description description"
    "sale-group sale-group sale-group sale-group"
    "buyer   sale-price  sale-date sale-date "
    ". button button .";
    @media only screen and (max-width: 1024px) {
        grid-template-columns: repeat(4,minmax(0, 1fr));
        grid-template-areas: 
        "deposition-group deposition-group deposition-group deposition-group"
        "deposer deposer category category"
        "brand brand size size"
        "gender color price gain"
        "description description description description"
        "sale-group sale-group sale-group sale-group"
        "buyer buyer buyer buyer"
        "sale-price sale-date sale-date sale-date"
        "button button button button";
      }  
      @media only screen and (max-width: 650px) {
        grid-template-columns: repeat(2,minmax(0, 1fr));
        grid-template-areas: 
        "deposition-group deposition-group"
        "deposer deposer"
        "category category"
        "brand brand"
        "size size"
        "gender color"
        "price gain"
        "description description"
        "sale-group sale-group"
        "buyer buyer"
        "sale-price sale-price"
        "sale-date sale-date"
        "button button";   
      }
}
.field-description {
  grid-area:description ;
}
.field-price {
    grid-area:price ;
}
.field-gain {
    grid-area:gain ;

}
.size-field {
    grid-area:size;
}
.brand-field {
    grid-area:brand;

}
.deposer-field {
    grid-area: deposer;
}
.buyer-field {
    grid-area: buyer;

}
.category-field {
    grid-area: category;

}
.sale-price-field {
    grid-area: sale-price;

}
.color-field {
    grid-area:color;
}
.sale-date-field {
    grid-area : sale-date;
}
.gender-field {
    grid-area: gender;
}
.sale-sub-group {
    grid-area: sale-group;
    mat-error {
        min-height: 1.5rem;
    }
}
.deposition-sub-group {
    grid-area: deposition-group;
    mat-error {
        min-height: 1.5rem;
    }
}
.field-button {
    grid-area: button;
}
