@import '/src/styles/colors.scss';

:host {
  display:block;
}

.router-content {
  width : 100%;
  max-width: 100%;
  overflow: auto;
  height: 80vh;
}
.side-filter {
  height: 100%;
  width:min(320px,calc(100vw-20px));
}
.search-box-container {
  max-width: 10rem;
  margin-left: auto;
}
.button-toggle-container {
}