@import '/src/styles/colors.scss';

:host {
  display:block;
}

.router-content {
  width : 100%;
  max-width: 100%;
  overflow: auto;
}
.side-filter {
  height: 100vh;
  min-width: 320px;
}
.search-box-container {
  max-width: 10rem;
}