
<section class="column--centred my4 p4">
  <app-items-state-toggeler></app-items-state-toggeler>
</section>
<section class="full-width section-frame--fill inline--centred--spaced list-action-bar">
  <button (click)="toggleFilter()" color="primary" mat-stroked-button>
    <mat-icon class="mr2">tune</mat-icon>
    <span>Filter</span>
  </button>
  <div class="search-box-container">
    <app-search-box (term)="onSearch($event)"></app-search-box>

  </div>
</section>
<main class="inline">

  <aside  [@sideTranslateAnimation] *ngIf="isFilterActive" class="p4 side-filter">
    <app-items-filter></app-items-filter>
  </aside>

<section class="router-content">
  <router-outlet name="itemContentOutlet">
  </router-outlet>
</section>
</main>
