
<section class="column--centred my4 p4">
  <app-items-state-toggeler></app-items-state-toggeler>
</section>
<section class="full-width section-frame--fill inline--centred list-action-bar">
  <button (click)="drawer.toggle()" color="primary" mat-stroked-button>
    <mat-icon class="mr2">tune</mat-icon>
    <span>Filter</span>
  </button>
  <div class="search-box-container">
    <app-search-box (term)="onSearch($event)"></app-search-box>

  </div>
  <button [matMenuTriggerFor]="itemListActionMenu" mat-icon-button>
    <mat-icon>more_vert</mat-icon>
  </button>
</section>
<mat-drawer-container hasBackdrop="unset">

  <mat-drawer mode="over" #drawer class="p4 side-filter">
    <app-items-filter class="mat-elevation-z10"  ></app-items-filter>
  </mat-drawer>

<mat-drawer-content class="router-content">
  <router-outlet name="itemContentOutlet">
  </router-outlet>
</mat-drawer-content>
</mat-drawer-container>
<mat-menu #itemListActionMenu="matMenu">

    <button queryParamsHandling="merge" [routerLink]="['./', { outlets: { itemContentOutlet: ['item-tickets'] } }]" mat-menu-item>
      <mat-icon>print</mat-icon>
      <span>Print tickets</span>
    </button>


</mat-menu>