*:focus {
    outline: 0;
  }
  html, body {
    height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
* {
   box-sizing: border-box;
}

  @media only screen and (max-width:720px)  {
    html {
      font-size: 12px;
    }
  }
  @media print {
    .non-printable   { display: none; }
  }
  @media screen {
    .printable   {
      display: none; 
    }

  }

  .mat-drawer-container {
    background-color: white!important;
  }