@import './colors.scss';
.center {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  z-index: 4;
}
.overlay {
  opacity: 0.5;
}

.column {
  display: flex;
  flex-direction: column;
}
.column--centred {
  @extend .column;
  align-items: center;
}
.inline {
  display: flex;
}
.inline--centred {
  display: flex;
  align-items: center;
}
.inline--centred--spaced {
  @extend .inline--centred;
  justify-content: space-between;
}

.global--gutters {
  padding: 1rem 5rem;
  @media only screen and (max-width: 1024px) {
    padding: 1rem 3rem;
  }
  @media only screen and (max-width: 600px) {
    padding: 1rem 1rem;
  }
}
.text-center {
  text-align: center;
}
.full-width {
  width: 100%;
}
.section-frame {
  background-color: $extreme-light-grey-color;
  padding: 0.5rem;
  border-radius: 10px;
}