<header class="dialog-header" mat-dialog-title>
  <h1 class="mat-h1"> ITEM SELL FORM </h1>
  <h3 class="mat-h3">Ref : {{data.item.reference}}</h3>
</header>
  <form  mat-dialog-content [formGroup]="sellForm">
    <div class="mb6 full-width">
      <app-customers-auto-complete-field  relatedControlName="buyer" [relatedFormGroup]="sellForm"></app-customers-auto-complete-field>

    </div>


  <mat-form-field appControlValidatorMessage appearance="outline" class="full-width">
    <mat-label>Sale price</mat-label>
    <input required [min]="data.item.deposer_gain" type="number" formControlName="actual_sale_price" matInput>
    <mat-icon matPrefix>attach_money</mat-icon>
    <mat-hint align="start">Minimum sale price is {{data.item.deposer_gain  | currency :'TND':'symbol':'1.0-2'}}</mat-hint>
    <mat-error></mat-error>
  </mat-form-field>
  </form>
  <div mat-dialog-actions>
    <button mat-button (click)="onClose()">CANCEL</button>
    <button mat-button type="submit" (click)="onSubmit()" cdkFocusInitial>SELL</button>
  </div>
