<header class="dialog-header" mat-dialog-title>
  <h1 class="mat-h1"> ITEM SELL FORM </h1>
  <h3 class="mat-h3">{{data.item.reference}}</h3>
  <p class="font--dark-grey mat-body">{{data.item.label}}</p>
</header>
  <form mat-dialog-content [formGroup]="sellForm">
    <div class="full-width">
      <app-customers-auto-complete-field  formControlName="buyer" [relatedFormGroup]="sellForm"></app-customers-auto-complete-field>

    </div>


  <mat-form-field class="full-width">
    <mat-label>Sale price</mat-label>
    <input [min]="data.item.deposer_gain" type="number" formControlName="sale_price" matInput maxlength="256">

    <mat-hint align="start">Minimum sale price is {{data.item.deposer_gain  | currency :'TND'}}</mat-hint>
  </mat-form-field>
  </form>
  <div mat-dialog-actions>
    <button mat-button (click)="onClose()">CANCEL</button>
    <button mat-button type="submit" (click)="onSubmit()" cdkFocusInitial>SELL</button>
  </div>
