nav {
  z-index: 2;
  position: sticky;
  position: -webkit-sticky;
  top : 0;
  left: 0;
  background-color: white;

}
.side-content {
  height: 100%;
  width:min(320px,calc(100vw - 56px));
}
.outlet-content {
  min-height: 840px;
}
