  <mat-form-field appControlValidatorMessage [formGroup]="relatedFormGroup" class="full-width"  appearance="outline">
    <mat-label>{{relatedControlName|titlecase}}</mat-label>
    <input
      [matAutocomplete]="auto"
      [formControlName]="relatedControlName"
      matInput
      [required]="required"
      type="text"
      placeholder="Select a customer">
    <mat-autocomplete [displayWith]="displayFn" #auto="matAutocomplete">
      <mat-option *ngFor="let customer of filteredCutomers$ | async" [value]="customer">
          <small>{{customer.email}} {{customer.first_name}} {{customer.last_name}}</small>
      </mat-option>
    </mat-autocomplete>
      <mat-icon matPrefix>account_circle</mat-icon>
      <mat-icon matSuffix  class="ml2 cursor--pointer" (click)="openCustomerFormNewTab()">person_add</mat-icon>
    <mat-hint class="inline--centred mat-body" align="start">
      <span class="mat-caption"> Select a {{relatedControlName}} or add one </span>
    </mat-hint>
    <mat-error>
    </mat-error>
  </mat-form-field>

