<h1 class="text-center mat-h1">New Deposition</h1>
<form  (ngSubmit)="onSubmit()"  class="main-form" [formGroup]="depositForm">
    <header class="inline--centred--spaced">
        <h3 class="font--dark-grey mat-h3">DEPOSER</h3>
    </header>
    <mat-divider></mat-divider>
      <div class=" mt4 ">
        <app-customers-auto-complete-field relatedControlName="deposer" [relatedFormGroup]="depositForm"></app-customers-auto-complete-field>

      </div>
    <div class="mt8">
        <header class="inline--centred--spaced">
            <h3 class="font--dark-grey mat-h3">{{itemsNumber() }} DEPOSED ITEMS</h3>
        </header>
        <mat-divider></mat-divider>
        <div *ngFor="let depoForm of depositFormGroups; index as i" class="sub-form__container column my4">
            <header class="inline--centred--spaced">
                <legend class="mat-caption">Item #{{i+1}}</legend>
                <button type="button" (click)="removeDepositForm(i)" class="form__sub-group__close" mat-icon-button>
                    <mat-icon > close</mat-icon>

                </button>
            </header>
        <form class="sub-form"  [formGroup]="depoForm">
            <mat-form-field appearance="outline" class="field-label ">
                <mat-label class="mat-caption">Label</mat-label>
                <input type="text" required formControlName="label" matInput>
                <mat-icon matPrefix>label</mat-icon>
                 
              </mat-form-field>
            <mat-form-field appearance="outline" class="field-price ">
                <mat-label class="mat-caption">Initial sale price</mat-label>
                <input  min="0" type="number" required formControlName="initial_sale_price" matInput>
                <mat-icon matPrefix>label</mat-icon>
              </mat-form-field>
              <mat-form-field appearance="outline" class="field-gain ">
                <mat-label>Gain ratio</mat-label>
                <input min="0" max="100" type="number" required formControlName="intial_gain_ratio" matInput>
                <mat-hint align="start">Percentage of the item sale gain</mat-hint>
              </mat-form-field>
              <!-- <mat-form-field class="size-field" appearance="outline">
                <mat-label class="mat-caption">Size</mat-label>
                <mat-select formControlName="size" required>
                  <mat-option *ngFor="let size of sizes$ | async" [value]="size.label">
                    {{size.label}}
                  </mat-option>
                </mat-select>
                <mat-icon matPrefix>format_size</mat-icon>
              </mat-form-field>    -->
              <mat-form-field  class="size-field"  appearance="outline">
                <mat-label class="mat-caption">Size</mat-label>
                <input
                  [matAutocomplete]="autoSize"
                  formControlName="size"
                  matInput
                  required
                  type="text"
                  placeholder="Select size">
                <mat-autocomplete #autoSize="matAutocomplete">
                  <mat-option *ngFor="let size of getSizeFiltredList(i)" [value]="size.label">
                      <span class="mat-caption">{{size.label}}</span>
                  </mat-option>
                </mat-autocomplete>
                  <mat-icon matPrefix>format_size</mat-icon>
                <mat-hint class="inline--centred mat-body" align="start">
                  <span class="mat-caption"> Select size or add one }}  </span>
                </mat-hint>
                <mat-error *ngIf="getSizeControl(i).invalid && getSizeControl(i).errors.required && (getSizeControl(i).dirty || getSizeControl(i).touched)">
                  <div >
                    This is a required field
                  </div>
                </mat-error>
              </mat-form-field>

              <mat-form-field  class="brand-field"  appearance="outline">
                <mat-label class="mat-caption">Brand</mat-label>
                <input
                  [matAutocomplete]="autoBrand"
                  formControlName="brand"
                  matInput
                  required
                  type="text"
                  placeholder="Select a brand">
                <mat-autocomplete #autoBrand="matAutocomplete">
                  <mat-option *ngFor="let brand of getBrandFiltredList(i)" [value]="brand.label">
                      <span class="mat-caption">{{brand.label}}</span>
                  </mat-option>
                </mat-autocomplete>
                  <mat-icon matPrefix>branding_watermark</mat-icon>
                <mat-hint class="inline--centred mat-body" align="start">
                  <span class="mat-caption"> Select a brand or add one </span>
                </mat-hint>
                <mat-error *ngIf="getBrandControl(i).invalid && getBrandControl(i).errors.required && (getBrandControl(i).dirty || getBrandControl(i).touched)">
                  <div >
                    This is a required field
                  </div>
                </mat-error>
              </mat-form-field>
                   
        </form>
    </div>

    </div>
    <footer class="inline--centred--spaced">
        <button color="primary" (click)="pushDepositForm()" mat-flat-button>
            <mat-icon class="mr4">add</mat-icon>
            <span>NEW ITEM</span>
        </button>
        <button [disabled]="!depositForm.valid" type="submit" color="primary"  mat-flat-button>
            <mat-icon class="mr4">save</mat-icon>
            <span>SAVE</span>
        </button>
    </footer>

  </form>
