@import '/src/styles/colors.scss';

.main-form {
    max-width: 1024px;
    margin: 0 auto;
    overflow: hidden;
}
mat-form-field {
    width: 100%;
}
.sub-group {
    legend {
        width: 100%;
    }
}
.mat-h3 {
    margin: 0;
}
.form__sub-group__close {
    transition: 0.1s ease-in-out;
    opacity: 0.5;
}.form__sub-group__close:hover {
    opacity: 1;
}
.sub-form__container {
  border : 1px solid $light-grey-color;
  border-radius: 10px;
  padding: 1rem;
}
.sub-form {
    display: flex;
    mat-form-field {
        margin:0 1rem ;
    }
    @media only screen and (max-width: 840px) {
        flex-direction: column;

        mat-form-field {
            margin:1rem 0 ;

        }
    }
}
