<table mat-table [dataSource]="itemsDataSource">
  <ng-container matColumnDef="select">
    <th mat-header-cell *matHeaderCellDef>
      <mat-checkbox (change)="masterSelectionChange($event)"
                    [checked]="selection.hasValue() && isAllSelected()"
                    [indeterminate]="selection.hasValue() && !isAllSelected()">
      </mat-checkbox>
    </th>
    <td mat-cell *matCellDef="let row">
      <mat-checkbox (click)="$event.stopPropagation()"
                    (change)="rowSelectionChange($event,row)"
                    [checked]="selection.isSelected(row)">
      </mat-checkbox>
    </td>
  </ng-container>
  <!-- reference Column -->
  <ng-container sticky matColumnDef="reference">
    <th mat-header-cell *matHeaderCellDef> Reference </th>
    <td mat-cell *matCellDef="let element"> {{element.reference}} </td>
  </ng-container>

  <!-- label Column -->
  <ng-container matColumnDef="label">
    <th mat-header-cell *matHeaderCellDef> Label </th>
    <td mat-cell *matCellDef="let element">
      {{element.label | titlecase}}
    </td>
  </ng-container>
  <!-- label Column -->
  <ng-container matColumnDef="brand">
    <th mat-header-cell *matHeaderCellDef> Brand </th>
    <td mat-cell *matCellDef="let element">
      {{element.brand | titlecase}}
    </td>
  </ng-container>
  <!-- label Column -->
  <ng-container matColumnDef="size">
    <th mat-header-cell *matHeaderCellDef> Size </th>
    <td mat-cell *matCellDef="let element">
      {{element.size | titlecase}}
    </td>
  </ng-container>


  <!-- operational_impact Column -->
  <ng-container matColumnDef="deposer_gain">
    <th mat-header-cell *matHeaderCellDef> Deposer gain </th>
    <td mat-cell *matCellDef="let element"> {{element.deposer_gain | currency :'TND':'symbol':'1.0-2'}} </td>
  </ng-container>

    <!-- shop_gain Column -->
    <ng-container matColumnDef="shop_gain">
      <th mat-header-cell *matHeaderCellDef> Shop gain </th>
      <td mat-cell *matCellDef="let element"> {{element.initial_sale_price  - element.deposer_gain | currency :'TND':'symbol':'1.0-2'}} </td>
    </ng-container>


  <!-- initial_sale_price Column -->
  <ng-container matColumnDef="initial_sale_price">
    <th mat-header-cell *matHeaderCellDef> Initial sale price </th>
    <td mat-cell *matCellDef="let element"> {{element.initial_sale_price | currency :'TND':'symbol':'1.0-2'}} </td>
  </ng-container>
  <!-- deposition_date Column -->
  <ng-container matColumnDef="deposition_date">
    <th mat-header-cell *matHeaderCellDef> Deposition date </th>
    <td mat-cell *matCellDef="let element"> {{element.deposition_date | date:'short'}} </td>
  </ng-container>
    <!-- deposer Column -->
    <ng-container matColumnDef="deposer">
      <th mat-header-cell *matHeaderCellDef> deposer </th>
      <td mat-cell *matCellDef="let element"> {{element.deposer.first_name | titlecase}} {{element.deposer.last_name| titlecase}} </td>
    </ng-container>
    <!-- buyer Column -->
    <ng-container matColumnDef="buyer">
      <th mat-header-cell *matHeaderCellDef> Buyer </th>
      <td mat-cell *matCellDef="let element">
        <ng-container *ngIf="element.buyer else noData">
          {{element.buyer.first_name | titlecase}} {{element.buyer.last_name| titlecase}}
        </ng-container>
         </td>
    </ng-container>
        <!-- actual_sale_price Column -->
    <ng-container matColumnDef="actual_sale_price">
      <th mat-header-cell *matHeaderCellDef> Real sale price </th>
      <td mat-cell *matCellDef="let element">
        <ng-container *ngIf="element.actual_sale_price else noData">
          {{element.actual_sale_price | currency :'TND':'symbol':'1.0-2'}}
        </ng-container>
        </td>
    </ng-container>

    <ng-container matColumnDef="sale_date">
      <th mat-header-cell *matHeaderCellDef> Sale date </th>
      <td mat-cell *matCellDef="let element">
        <ng-container *ngIf="element.sale_date else noData">

        {{element.sale_date | date:'short'}}
        </ng-container>
    </td>
    </ng-container>
  <!-- action Column -->
  <ng-container matColumnDef="action" stickyEnd>
    <th mat-header-cell *matHeaderCellDef> Action </th>
    <td mat-cell *matCellDef="let element">
      <button
      [matMenuTriggerData]="{item: element}"
      [matMenuTriggerFor]="itemActionMenu" mat-icon-button>
        <mat-icon>more_vert</mat-icon>
      </button>
       </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr
  queryParamsHandling="merge"
  mat-row class="table-row" *matRowDef="let row; columns: displayedColumns;"></tr>
  <ng-template #noData>
 -
  </ng-template>
</table>

<mat-selection-list   
    (selectionChange)="updateSelection($event)"
    class="item-stream--small-width">
  <mat-list-option
   [value]="item"
  *ngFor="let item of items$ | async">
    <mat-icon   queryParamsHandling="merge"
    [routerLink]="['./', { outlets: { itemContentOutlet: ['item-detail',item.id] } }]" mat-list-icon>login</mat-icon>
    <p class="mat-body-2" matLine>{{item.reference}} </p>
    <p class="mat-caption" matLine>{{item.brand}} </p>
    <p class="mat-caption" matLine>{{item.size}} </p>
    <mat-divider></mat-divider>
  </mat-list-option>
</mat-selection-list>


<mat-menu #itemActionMenu="matMenu">
  <ng-template matMenuContent let-item="item">

    <button queryParamsHandling="merge" [routerLink]="['./', { outlets: { itemContentOutlet: ['item-detail',item.id] } }]" mat-menu-item>
      <mat-icon>list_alt</mat-icon>
      <span>Item details</span>
    </button>
    <button [disabled]="item.buyer" (click)="openSellDialog(item)" mat-menu-item>
      <mat-icon>point_of_sale</mat-icon>
      <span>Sell</span>
    </button>
    <button [disabled]="item.buyer"  mat-menu-item>
      <mat-icon>delete</mat-icon>
      <span>Remove</span>
    </button>
  </ng-template>

</mat-menu>
<button color="primary"  [routerLink]="['/item-store/new-item']"  class="button--floating" mat-fab>
  <mat-icon>add</mat-icon>
  </button>
