<table mat-table [dataSource]="items$ | async">

  <!-- reference Column -->
  <ng-container sticky matColumnDef="reference">
    <th mat-header-cell *matHeaderCellDef> Reference </th>
    <td mat-cell *matCellDef="let element"> {{element.reference}} </td>
  </ng-container>

  <!-- label Column -->
  <ng-container matColumnDef="label">
    <th mat-header-cell *matHeaderCellDef> Label </th>
    <td mat-cell *matCellDef="let element">
      {{element.label | titlecase}}
    </td>
  </ng-container>

  <!-- deposer Column -->
  <ng-container matColumnDef="deposer">
    <th mat-header-cell *matHeaderCellDef> deposer </th>
    <td mat-cell *matCellDef="let element"> {{element.deposer.first_name | titlecase}} {{element.deposer.last_name| titlecase}} </td>
  </ng-container>

  <!-- operational_impact Column -->
  <ng-container matColumnDef="deposer_gain">
    <th mat-header-cell *matHeaderCellDef> Deposer gain </th>
    <td mat-cell *matCellDef="let element"> {{element.deposer_gain | currency :'TND':'symbol':'1.0-2'}} </td>
  </ng-container>
  <!-- initial_sale_price Column -->
  <ng-container matColumnDef="initial_sale_price">
    <th mat-header-cell *matHeaderCellDef> Initial sale price </th>
    <td mat-cell *matCellDef="let element"> {{element.initial_sale_price | currency :'TND':'symbol':'1.0-2'}} </td>
  </ng-container>
  <!-- deposition_date Column -->
  <ng-container matColumnDef="deposition_date">
    <th mat-header-cell *matHeaderCellDef> Deposition date </th>
    <td mat-cell *matCellDef="let element"> {{element.deposition_date | date:'medium'}} </td>
  </ng-container>
    <!-- buyer Column -->
    <ng-container matColumnDef="buyer">
      <th mat-header-cell *matHeaderCellDef> Buyer </th>
      <td mat-cell *matCellDef="let element">
        <ng-container *ngIf="element.buyer else noData">
          {{element.buyer.first_name | titlecase}} {{element.buyer.last_name| titlecase}}
        </ng-container>
         </td>
    </ng-container>
        <!-- actual_sale_price Column -->
    <ng-container matColumnDef="actual_sale_price">
      <th mat-header-cell *matHeaderCellDef> Real sale price </th>
      <td mat-cell *matCellDef="let element">
        <ng-container *ngIf="element.actual_sale_price else noData">
          {{element.actual_sale_price | currency :'TND':'symbol':'1.0-2'}}
        </ng-container>
        </td>
    </ng-container>

    <ng-container matColumnDef="sale_date">
      <th mat-header-cell *matHeaderCellDef> Sale date </th>
      <td mat-cell *matCellDef="let element">
        <ng-container *ngIf="element.sale_date else noData">

        {{element.sale_date | date:'medium'}}
        </ng-container>
    </td>
    </ng-container>
  <!-- action Column -->
  <ng-container matColumnDef="action" stickyEnd>
    <th mat-header-cell *matHeaderCellDef> Action </th>
    <td mat-cell *matCellDef="let element">
      <button
      [matMenuTriggerData]="{item: element}"
      [matMenuTriggerFor]="itemActionMenu" mat-icon-button>
        <mat-icon>more_vert</mat-icon>
      </button>
       </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr
  queryParamsHandling="merge"
  mat-row class="table-row" *matRowDef="let row; columns: displayedColumns;"></tr>
  <ng-template #noData>
 -
  </ng-template>
</table>

<mat-list class="item-stream--small-width">
  <mat-list-item
  queryParamsHandling="merge"
  [routerLink]="['./', { outlets: { itemContentOutlet: ['item-detail',item.id] } }]"
  *ngFor="let item of items$ | async">
    <p class="mat-body-2" matLine>{{item.reference}} </p>
    <p class="mat-caption" matLine>{{item.label}} </p>
    <p class="mat-caption" matLine>{{item.deposer.first_name}} {{item.deposer.last_name}} </p>
    <div class="meta-content mat-caption">
      <p>{{item.deposition_date | date:'mediumDate'}}</p>
      <p>{{item.initial_sale_price | currency :'TND':'symbol':'1.0-2' }}</p>
    </div>
    <mat-divider></mat-divider>
  </mat-list-item>
</mat-list>


<mat-menu #itemActionMenu="matMenu">
  <ng-template matMenuContent let-item="item">

    <button queryParamsHandling="merge" [routerLink]="['./', { outlets: { itemContentOutlet: ['item-detail',item.id] } }]" mat-menu-item>
      <mat-icon>list_alt</mat-icon>
      <span>Item details</span>
    </button>
    <button [disabled]="item.buyer" (click)="openSellDialog(item)" mat-menu-item>
      <mat-icon>point_of_sale</mat-icon>
      <span>Sell</span>
    </button>
    <button [disabled]="item.buyer"  mat-menu-item>
      <mat-icon>delete</mat-icon>
      <span>Remove</span>
    </button>
  </ng-template>

</mat-menu>
<button color="primary"  [routerLink]="['/item-store/new-item']"  class="button--floating" mat-fab>
  <mat-icon>add</mat-icon>
  </button>
