<header class="global--gutters header inline--centred--spaced">
  <h2 class="mat-h2">
    ITEMS LIST
    </h2>
  <mat-paginator 
  #paginator
  [length]="itemsCounts$ | async"
  [pageSize]="50"
  (page)="updatePage($event)"
  [pageSizeOptions]="[50,100,150]">
</mat-paginator>
</header>

<table mat-table [dataSource]="itemsDataSource">
  <ng-container matColumnDef="select">
    <th mat-header-cell *matHeaderCellDef>
      <mat-checkbox (change)="masterSelectionChange($event)"
                    [checked]="selection.hasValue() && isAllSelected()"
                    [indeterminate]="selection.hasValue() && !isAllSelected()">
      </mat-checkbox>
    </th>
    <td mat-cell *matCellDef="let row">
      <mat-checkbox (click)="$event.stopPropagation()"
                    (change)="rowSelectionChange($event,row)"
                    [checked]="selection.isSelected(row)">
      </mat-checkbox>
    </td>
  </ng-container>
  <!-- reference Column -->
  <ng-container sticky matColumnDef="reference">
    <th mat-header-cell *matHeaderCellDef> Reference </th>
    <td mat-cell *matCellDef="let element"> {{element.reference}} </td>
  </ng-container>


    <!-- label Column -->
    <ng-container matColumnDef="category">
      <th mat-header-cell *matHeaderCellDef> Category </th>
      <td mat-cell *matCellDef="let element">
        {{element.category | titlecase}}
      </td>
    </ng-container>
    <ng-container matColumnDef="gender">
      <th mat-header-cell *matHeaderCellDef> Gender </th>
      <td mat-cell *matCellDef="let element">
        {{element.gender | titlecase}}
      </td>
    </ng-container>
  <!-- brand Column -->
  <ng-container  matColumnDef="brand">
    <th mat-header-cell *matHeaderCellDef> Brand </th>
    <td mat-cell *matCellDef="let element">
      {{element.brand | titlecase}}
    </td>
  </ng-container>
    <!-- brand Column -->
    <ng-container  matColumnDef="state">
      <th mat-header-cell *matHeaderCellDef> State </th>
      <td mat-cell *matCellDef="let element">
        <span [style.background-color]="element.buyer ? 'red' : 'yellowgreen'" class="item_state">
           {{element.buyer ? 'SOLD' : 'AVAIL'}}
        </span>
      </td>
    </ng-container>
  <!-- size Column -->
  <ng-container  matColumnDef="size">
    <th mat-header-cell *matHeaderCellDef> Size </th>
    <td mat-cell *matCellDef="let element">
      {{element.size | titlecase}}
    </td>
  </ng-container>

  <!-- sale_price Column -->
  <ng-container matColumnDef="initial_sale_price">
    <th mat-header-cell *matHeaderCellDef> Sale price </th>
    <td mat-cell *matCellDef="let element"> {{element.initial_sale_price | currency :'TND':'symbol':'1.0-2'}} </td>
  </ng-container>

  <!-- sale_price Column -->
  <ng-container matColumnDef="actual_sale_price">
    <th mat-header-cell *matHeaderCellDef> Sale price </th>
    <td mat-cell *matCellDef="let element"> {{element.actual_sale_price | currency :'TND':'symbol':'1.0-2'}} </td>
  </ng-container>

    <!-- buyer Column -->
    <ng-container  matColumnDef="buyer">
      <th mat-header-cell *matHeaderCellDef> Buyer </th>
      <td mat-cell *matCellDef="let element"> 
        <a queryParamsHandling="merge" [routerLink]="['/customer/customers-viewer', { outlets: { customerContentOutlet: ['customer-detail',element.buyer?.id] } }]">
          {{element.buyer?.first_name | titlecase}} {{element.buyer?.last_name| titlecase}} 
        </a>

        </td>

    </ng-container>
  <!-- sale_date Column -->
  <ng-container matColumnDef="sale_date">
    <th mat-header-cell *matHeaderCellDef> Sale date </th>
    <td mat-cell *matCellDef="let element"> {{element.sale_date | date:'mediumDate'}} </td>
  </ng-container>
   <!-- sale_price Column -->
   <ng-container matColumnDef="=sale_price">
    <th mat-header-cell *matHeaderCellDef> Sale price </th>
    <td mat-cell *matCellDef="let element"> {{element.sale_price | currency :'TND':'symbol':'1.0-2'}} </td>
  </ng-container>

  <!-- deposition_date Column -->
  <ng-container matColumnDef="deposition_date">
    <th mat-header-cell *matHeaderCellDef> Deposit date </th>
    <td mat-cell *matCellDef="let element"> {{element.deposition_date | date:'mediumDate'}} </td>
  </ng-container>
    <!-- deposer Column -->
    <ng-container matColumnDef="deposer">
      <th mat-header-cell *matHeaderCellDef> deposer </th>
      <td mat-cell *matCellDef="let element"> 
        <a queryParamsHandling="merge" [routerLink]="['/customer/customers-viewer', { outlets: { customerContentOutlet: ['customer-detail',element.deposer.id] } }]">
          {{element.deposer.first_name | titlecase}} {{element.deposer.last_name| titlecase}} 
        </a>

        </td>

    </ng-container>

  <!-- action Column -->
  <ng-container matColumnDef="action" stickyEnd>
    <th mat-header-cell *matHeaderCellDef> Action </th>
    <td mat-cell *matCellDef="let element">
      <button
      [matMenuTriggerData]="{item: element}"
      [matMenuTriggerFor]="itemActionMenu" mat-icon-button>
        <mat-icon>more_vert</mat-icon>
      </button>
       </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns$ | async"></tr>
  <tr
  queryParamsHandling="merge"
  mat-row  [class.unpaid]="!row.is_deposer_settled" class="table-row" *matRowDef="let row; columns: displayedColumns$ | async;"></tr>
  <ng-template #noData>
 -
  </ng-template>
</table>

<mat-selection-list   
    (selectionChange)="updateSelection($event)"
    class="item-stream--small-width">
  <mat-list-option
  [class.unpaid]="!item.is_deposer_settled"
  checkboxPosition="after"
   [value]="item"
  *ngFor="let item of items$ | async">
    <p class="mat-body-2" matLine>{{item.reference}} </p>
    <p class="mat-caption" matLine>{{item.category}} </p>
    <p class="mat-caption" matLine>{{item.brand}} </p>
    <p class="mat-caption" matLine>{{item.size}} </p>
    <mat-icon [matMenuTriggerData]="{item: item}"
    [matMenuTriggerFor]="itemActionMenu" mat-list-icon>more_vert</mat-icon>
    <mat-divider></mat-divider>
  </mat-list-option>
</mat-selection-list>


<mat-menu #itemActionMenu="matMenu">
  <ng-template matMenuContent let-item="item">

    <button queryParamsHandling="merge" [routerLink]="['./', { outlets: { itemContentOutlet: ['item-detail',item.id] } }]" mat-menu-item>
      <mat-icon>list_alt</mat-icon>
      <span>Item detail</span>
    </button>
    <button (click)="openDeposerSettleDialog(item)" [disabled]="!item.buyer"  mat-menu-item>
      <mat-icon>payments</mat-icon>
      <span>Settle</span>
    </button>
    <button queryParamsHandling="merge" [routerLink]="['/item-store/items-viewer', { outlets: { itemContentOutlet: ['item-edit',item.id] } }]"
    mat-menu-item>
      <mat-icon>edit</mat-icon>
      <span>Edit</span>
    </button>
    <button [disabled]="item.buyer" (click)="openItemSellDialog(item)" mat-menu-item>
      <mat-icon>point_of_sale</mat-icon>
      <span>Sell</span>
    </button>
    <button  (click)="openItemDeleteDialog(item)" mat-menu-item>
      <mat-icon>delete</mat-icon>
      <span>Remove</span>
    </button>
  </ng-template>

</mat-menu>
<button color="primary"  [routerLink]="['/item-store/new-item']"  class="button--floating" mat-fab>
  <mat-icon>add</mat-icon>
  </button>
