<header  class="my4 inline--centred--spaced">

    <button
    queryParamsHandling="merge"
    [routerLink]="['/customer/customers-viewer', { outlets: { customerContentOutlet: null } }]"
    mat-icon-button>
      <mat-icon>arrow_back</mat-icon>
    </button>
      <h2  class="mat-h2">
          <ng-container *ngIf="customer  else newCustomer">
            {{customer.first_name | titlecase}} {{customer.last_name | titlecase}}
          </ng-container>
          <ng-template  #newCustomer>
                New Customer
          </ng-template>
        </h2>
<span></span>
</header>
<form  (ngSubmit)="onSubmit()" class="main-form" [formGroup]='customerForm'>

        <mat-form-field appearance="outline" class="field-civility">
            <mat-label class="mat-caption">Civility</mat-label>
            <mat-select formControlName="civility" name="Mr">
                <mat-option value="Mr">
                  Mr
                </mat-option>
                <mat-option value="Mme">
                    Mme
                  </mat-option>
              </mat-select>
        </mat-form-field>
        <mat-form-field appControlValidatorMessage appearance="outline" class="field-id_ref">
            <mat-label class="mat-caption">Id reference</mat-label>
            <input type="text" autocomplete="name" formControlName="id_reference" matInput>
            <mat-hint>eg : 07409895 or T32658</mat-hint>
            <mat-error></mat-error>

        </mat-form-field>
        <mat-form-field appControlValidatorMessage appearance="outline" class="field-first-name">
            <mat-label class="mat-caption">First name</mat-label>
            <input type="text" autocomplete="name" required formControlName="first_name" matInput>
            <mat-hint>eg : Mohamed</mat-hint>
        </mat-form-field>
        <mat-form-field appControlValidatorMessage appearance="outline" class="field-last-name">
            <mat-label class="mat-caption">family name</mat-label>
            <input type="text" autocomplete="cc-family-name" required formControlName="last_name" matInput>
            <mat-hint>eg : Ben mabrouk</mat-hint>
            <mat-error></mat-error>

        </mat-form-field>
        <mat-form-field appControlValidatorMessage appearance="outline" class="field-birth">
            <mat-label class="mat-caption">Birth date</mat-label>
            <input type="date" autocomplete="bday" formControlName="birth_date" matInput>
            <mat-error></mat-error>

        </mat-form-field>
        <mat-form-field appControlValidatorMessage appearance="outline" class="field-email">
            <mat-label class="mat-caption">email</mat-label>
            <input type="email" autocomplete="email" required formControlName="email" matInput>
            <mat-icon matPrefix>email</mat-icon>
            <mat-error></mat-error>

        </mat-form-field>
        <mat-form-field appControlValidatorMessage appearance="outline" class="field-phone">
            <mat-label class="mat-caption">Phone number</mat-label>
            <input autocomplete="tel-national" type="text" formControlName="phone_number" autocomplete="name" required matInput>
            <mat-error></mat-error>

        </mat-form-field>
        <mat-form-field appControlValidatorMessage appearance="outline" class="field-adress">
            <mat-label class="mat-caption">Adress</mat-label>
            <input type="text" autocomplete="address-line1" formControlName="adress" required matInput>
            <mat-error></mat-error>
        </mat-form-field>

        <button class="field-button" mat-flat-button type="submit" color="primary">CREATE USER</button>
</form>
