@import '/src/styles/colors.scss';
.main-form {
    max-width: 1024px;
    margin: 0 auto;
    overflow: hidden;
    padding: 3rem;
    border: 1px solid $light-grey-color;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    column-gap: 1rem;
    row-gap: 1.5rem;
    grid-template-areas:
    "email email civility id_ref"
    "first-name first-name last-name last-name"
    "phone adress adress adress"
    ". button button .";
    @media only screen and (max-width: 1024px) {
        grid-template-areas:
        "email email email id_ref"
        "civility first-name first-name first-name"
        "last-name last-name last-name last-name"
        "phone adress adress adress"
        ". button button .";
    }
    @media only screen and (max-width: 520px) {
        padding: 1rem;
        grid-template-columns: 1fr;
        grid-template-areas:
        "email"
        "id_ref"
        "civility"
        "first-name"
        "last-name"
        "phone"
        "adress"
        "button";
    }
}
.field-last-name {
    grid-area:last-name ;
}
.field-first-name {
    grid-area:first-name;
}
.field-email {
    grid-area:email;
}
.field-adress {
    grid-area:adress;
}
.field-phone {
    grid-area:phone;
}
.field-civility {
    grid-area:civility;
}
.field-button {
    grid-area:button;

}
.field-id_ref {
    grid-area:id_ref ;
}
mat-form-field {
  width: 100%;
}
