  <mat-form-field [formGroup]="relatedFormGroup" class="full-width"  appearance="outline">
    <mat-label>{{relatedControlName|titlecase}}</mat-label>
      <mat-select [formControlName]="relatedControlName" required>
        <mat-option *ngFor="let customer of filteredCutomers$ |async" [value]="customer.id">
          <span>{{customer.email}} </span><span class="mat-caption">{{customer.first_name}} {{customer.last_name}} </span>
        </mat-option>
      </mat-select>
      <mat-icon matPrefix>account_circle</mat-icon>
    <mat-hint class="inline--centred mat-body" align="start">
      <span class="mat-caption"> Select a {{relatedControlName}} or add one </span>
        <mat-icon class="ml2 cursor--pointer" (click)="openCustomerFormNewTab()" target="_blank" [routerLink]="['/customer']">person_add</mat-icon>
    </mat-hint>
  </mat-form-field>

