  <mat-form-field [formGroup]="relatedFormGroup" class="full-width"  appearance="outline">
    <mat-label>Buyer</mat-label>
    <!-- <input
      [matAutocomplete]="auto"
      [formControlName]="relatedControlName"
      matInput
      required
      type="text"
      placeholder="Select a customer"> -->
      <mat-select [formControlName]="relatedControlName" required>
        <mat-option>--</mat-option>
        <mat-option *ngFor="let customer of filteredCutomers$ |async" [value]="customer.id">
          <span>{{customer.email}} </span><span class="mat-caption">{{customer.first_name}} {{customer.last_name}} </span>
        </mat-option>
      </mat-select>
    <!-- <mat-autocomplete [displayWith]="displayFn" #auto="matAutocomplete">
      <mat-option *ngFor="let customer of filteredCutomers$ | async" [value]="customer">
          <small>{{customer.email}}</small>
      </mat-option>
    </mat-autocomplete> -->
    <mat-hint align="start">Select a customer or add one</mat-hint>
    <button queryParamsHandling="merge" (click)="openCustomerDialog()" matSuffix  mat-icon-button>
      <mat-icon>person_add</mat-icon>
      </button>
      <mat-icon matPrefix>account_circle</mat-icon>

  </mat-form-field>
