  <button class="menu__mobile-icon mr2" mat-icon-button>
   <mat-icon>menu</mat-icon>
  </button>
  <p class="mat-h2 logo">
    ENFANT
    <span>I</span>
    AGES
  </p>
  <section class="ml8 mat-body-strong menu__items inline--centred">
    <a routerLinkActive="link--active" mat-flat-button [routerLink]="['item-store']">Items</a>
    <a routerLinkActive="link--active" mat-flat-button >Customers</a>
    <a routerLinkActive="link--active" mat-flat-button >Stats</a>
  </section>
  <section class="menu__icons">
    <button mat-icon-button>
      <mat-icon>account_circle </mat-icon>
    </button>
    <button class="items-list-button" mat-icon-button
      [routerLink]="['']"
    >
      <mat-icon>child_friendly</mat-icon>
    </button>
  </section>
