@import '../../../../styles/colors.scss';
.tickets-grid {
    margin: 0 auto;

}
.tickets-grid__page {
    display: grid;
    grid-template-columns: repeat(3,minmax(0,7cm));
    grid-template-rows: auto;
    padding: 0.45cm 0;
}
.ticket {
    justify-content: space-between;
    padding: 1rem;
    height: 3.2cm;
    max-height: 3.2cm;
    .left-content {
        .mat-subheading-2 {
            margin: 0;
            font-weight: 500;
        }

    }
}
:host {
    display: flex;
    flex-direction: column;
    align-self: center;
}
header {
   background-color: $extreme-light-grey-color;
}
.mat-h3 {
    margin: 0;
}