@import '../../../../styles/colors.scss';
.tickets-grid {
    padding-top: 0.45cm;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3,minmax(0,7cm));
    grid-template-rows: auto;
}
.ticket {
    justify-content: space-between;
    padding: 1rem;
    height: 3.2cm;
    border: 0.0005cm gray dashed;

}
:host {
    display: flex;
    flex-direction: column;
    align-self: center;
}
header {
   background-color: $extreme-light-grey-color;
}
.mat-h3 {
    margin: 0;
}