<header class="mb4 global--gutters inline--centred--spaced non-printable">
    <h3  class="mat-h3">{{itemsCount$ | async}} item tickets to print</h3>
        <button color="primary" (click)="print()"mat-flat-button>
            <mat-icon class="mr4">print</mat-icon>
            <span>PRINT</span>
        </button>
</header>


<main class="tickets-grid" >
   <ng-container *ngFor="let page of itemTickets$ | async | keyvalue">
       <section class="tickets-grid__page">
<article class="ticket inline" *ngFor="let itemTicket of page.value">
    <div class="left-content column">
        <span class="mat-subheading-2">{{itemTicket.reference}}</span>
        <span class="mat-body">{{itemTicket.category| titlecase}}</span>
        <span  class="mat-body">{{itemTicket.brand | titlecase}}</span>
        <span  class="mat-body">{{itemTicket.size | lowercase}} - {{itemTicket.gender | lowercase}}</span>

    </div>
    <div class="right-content">
        <span class="mat-body-1">{{itemTicket.initial_sale_price | currency :'TND':'symbol':'1.0-2'}}</span>

    </div>
   
</article>
</section>
</ng-container> 
</main>
